.new-restaurant-form {
    display: grid;
    position: relative;
    font-family: 'Arial';
    font-size: 20px;
    color:  rgb(218, 77, 77);
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.submit-button {
    margin: 15px;
}

.input-box {
    margin-bottom: 10px;
}

.submit {
    font-style: 'Arial';
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(218, 77, 77);
    color: white;
    border: rgb(218, 77, 77) 1px solid;
    transition-duration: 0.2s;
  }

  
.submit:hover {
    background-color: white;
    color: rgb(218, 77, 77);
    border: rgb(218, 77, 77) solid 2px;
}

.header {
    font-family: 'Arial';
    color:  rgb(218, 77, 77);
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: bold;
}

@media (max-width: 450px){
    .header {
        font-size: 28px;
        margin-bottom: 15px;
    }
}